Output/
Data/
Manualcounts/
Settings/
matchfiles/
files_main.m
preparedata.m
StratifierUserGuide.docx
*.mat
*.asv
checkcorrelations.m
preparecounts.m
mattosman.m
checkresultsinmatchmaker3.m
StratiCounter_UserGuide.docx
